@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html { 
    background: url(images/foodbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: fit-content;
    max-width: 80%;
    background: rgba(197, 100, 20, 0.664);
    border: 0px solid rgba(197, 100, 20, 0.664);
    border-radius: 5px;
    box-shadow: -2px -2px 3px 3px rgba(255, 255, 255, 0.5),
    2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.cardcontainer {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.itemcard {
    flex-basis: 200px;
    border: 1px solid rgba(87, 60, 60, 0.445);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: rgba(216, 224, 94, 0.712);
}

.break {
    flex-basis: 100%;
    height: 1;
}

.submit {
    border: 1px solid rgba(87, 60, 60, 0.445);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.option {
    margin-top: 10px;
    background: rgba(234, 235, 234, 0.842);
}

.submit:hover, .option:hover {
    cursor: pointer;
}

.summary {
    min-width: 220px;
    max-width: 220px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0px;
}

.links {
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    background: rgba(234, 235, 234, 0.842);
    box-shadow: -2px -2px 3px 3px rgba(234, 235, 234, 0.5),
    2px 2px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
}

.links a {
    text-decoration: none;
}